<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
    </settings>

	<typeAliases>
		<typeAlias alias="String" type="java.lang.String" />		
		<typeAlias alias="Integer" type="java.lang.Integer" />
		<typeAlias alias="Long" type="java.lang.Long" />
		<typeAlias alias="Short" type="java.lang.Short" />
		<typeAlias alias="Byte" type="java.lang.Byte" />
		<typeAlias alias="Map" type="java.util.Map" />
		<typeAlias alias="List" type="java.util.List" />	
	</typeAliases>


    <mappers>
        <mapper resource="query/game.xml" />
    </mappers>
</configuration>

